DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_SSL=

JWT_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

FRONTEND_URL=

RESEND_API_KEY=
MAIL_OVERRIDE_TO=
PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium

MAX_BOOKING_FUTURE_DAYS=
MAX_SPOTS=
TABLE_CREATION_THRESHOLD_DAYS=
