/* src/styles/multiselect.css */

.multiselect {
  @apply w-full bg-white dark:bg-slate-800 text-slate-800 dark:text-white
         border border-slate-300 dark:border-slate-600 rounded-md
         focus:outline-none focus:ring-2 focus:ring-blue-400;
  height: 40px;
  
  display: flex;
  align-items: center;
  
}


.multiselect__single {
  padding-left: 0.5rem;
  text-align: left;
  cursor: default;
}



.multiselect__option {
  cursor: pointer;
}

.multiselect__option--selected {
  background-color: #334155 !important; /* slate-700 */
  color: white;
}

.multiselect__option--highlight {
  background-color: #1d4ed8 !important; /* blue-600 */
  color: white;
}

.multiselect__option span[aria-label*="Press enter to select"] {
  display: none;
}

.multiselect__content-wrapper {
  text-align: left;
  padding-left: 0.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background-color: white;
  @apply dark:bg-slate-800;
  border: 1px solid #cbd5e1;
  border-radius: 0.375rem;
  max-height: 200px;
  overflow-y: auto;
  border-color: #cbd5e1; /* slate-300 */
  border-width: 1px;
  border-radius: 0.375rem; /* entspricht Tailwind rounded-md */
  
  @apply dark:border-slate-600;
}


.multiselect__input {
  width: 100%;
  cursor: default;
}

.multiselect__input:focus {
  
  display: flex;
  width:103% !important;
  outline: 2px solid #60a5fa; /* blue-400 */
  outline-offset: -2px;
  border-radius: 0.375rem; /* rounded-md */
}

